

<div class="tarjeta">
    <div class="titulo">
        <h3>ANOTACIONES</h3>
    </div>
    <div class="formulario">
        <form action="/pedidos/nuevopedido" method="post">
            <div>
                <input type="text" name="title" placeholder="Titulo" autofocus class="title">
            </div>
            <div>
                <input type="text" name="direction" placeholder="Subtitulo" autofocus class="direction">
            </div>
            <div>
                <textarea name="description" placeholder="Receta" autofocus class="textarea"></textarea>
            </div>
            <div>
                <button type="submit" style="margin-top: 50px;">
                    Guardar
                </button>
            </div>
        </form>

    </div>
</div>
