<body>
    <header class="header">
        <div class="header__content">
            <div class="texto">
                <span>Tus habilidades
                </span><br>
                <span>EN OTRO NIVEL
                </span><br>
                <span>Tenemos un curso para cada necesidad. Desde cocina profesional hasta cocina hogareña.</span> 
            </div>
        </div>
    </header>

    <section >
        <hr>
        <div class="welcome">
            <h1>Bienvenid@</h1>
            <p>Disfrutamos y compartimos el placer de cocinar. Creemos en la gastronomía como una manera de <i>transmitir sensaciones</i> y de reflejar el placer por la comida en todas sus vertientes. Por ello, queremos que disfrutes de nuestros talleres y que te dejes <i>envolver por la cocina por completo</i>, con todos los sentidos: el olfato, el oído, la vista, el tacto y, por supuesto, el paladar.</p>
            <i class="fas fa-arrow-down"></i>
        </div>
    </section>
    <hr>
    <div class="tituloCategorias"><h1>Categorías</h1></div>

    <div class="categorias main-padding">
            <div class="caja">
                <img src="/img/aves.png" alt="">
            </div>
            <div class="caja">
                <img src="/img/peces.png" alt="">
            </div>
            <div class="caja">
                <img src="/img/panes.png" alt="">
            </div>
            <div class="caja">
                <img src="/img/vegano.png" alt="">
            </div>
            <div class="caja">
                <img src="/img/postres.png" alt="">
            </div>
    </div>


    <div class="lechuga main-padding">
        <div class="caja textoLechuga">
            <h1 style="padding-top: 25%; margin-left: 30px;">Cursos GRATIS</h1>
            <h3 style="margin: 30px; font-size: 20px;">Te traemos todas las semanas un curso gratis. Con solo registrarte ya estás disfrutando de las miles de recetas que tenemos para vos. <br>
            ¿Qué estás esperando para sacar tu cociner@ intern@? </h3>
        <a href="/users/registrarse" style="margin-left: 30px;"><button class="btn" type="submit" id="btn-negro">REGISTRATE AHORA</button></a>
        <div style="margin-top: 15px; margin-bottom: 45px;">
        </div>
        
        </div>
        
        <div class="caja imagenLechuga">
            <img src="/img/lechuga.jpg" width="100%" alt="">
        </div>
    </div>

    <div class="tituloCategorias"><h1>¿Por qué estudiar con nosotros?</h1></div>    

    <div class="ico main-padding">
            <div class="caja">
                <img src="/img/relojico.png" alt="">
                <p style="color:black">Tiempo</p>
            </div>
            <div class="caja">
                <img src="/img/mentorico.png" alt="">
                <p style="color:black">Mentoría</p>
            </div>
            <div class="caja">
                <img src="/img/recetasico.png" alt="">
                <p style="color:black">Recetas</p>
            </div>
            <div class="caja">
                <img src="/img/videoico.png" alt="">
                <p style="color:black">Videos</p>
            </div>    
    </div>