.card-pedido {
    display: flex;
    height: 290px;
    width: 300px;
    background-image: url(/img/fondo.jpg);
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 2%;
    border: solid 3px #4DB198;
}
.card-title-pedido {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.card-text p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;   
}
.card-body-pedido button{
    width: 50%;
    margin-top: 50px;
    margin-left: 95px;    
}
.card-title-pedido i {
    position: absolute;
    margin-top: -40px;
    margin-left: 230px;
}
.card-title-pedido h4 {
    -webkit-text-stroke: 2px #4DB198;
    color: #4DB198;
}
.card-hpedido {
    display: flex;
    align-items: center;
    margin: auto;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.card-hpedido h1, p {
    color: black;
}
.card-hpedido a {
    height: 50px;
    width: 200px;
    text-decoration: none;
    background-color: #4DB198;
    color: black;
    transition: all .3s;
    font-size: 18pt;
    margin-top: 50px;
}
.card-hpedido a:hover {
    color: white;
    background-color: black;
}
.formulario {
    display: block;
    align-items: center;
}
.formulario input {
    text-align: left;
    margin: 5px;
    margin-top: 10px;
    width: 600px;
    height: 40px;
    border: 1px solid #4DB198;
    color: #4DB198;
    font-size: 18px;
}
.formulario input::placeholder {
    color: #4DB198;
}
.formulario textarea {
    resize: none;
    text-align:left;
    margin-top: 10px;
    width: 600px;
    height: 200px;
    border: 1px solid #4DB198;
    color: #4DB198;
    font-size: 18px;
}
.formulario textarea::placeholder {
    color: #4DB198;
}
.formulario button {
    margin-top: 5px;
    height: 50px;
    width: 100px;
    background-color: #4DB198;
    color: #fff;
    border: 2px solid #4DB198;
    transition: all .3s;
}
.formulario button:hover {
    color: black;
    background-color: #4DB198;
    border: 2px solid #4DB198;
}
.form-group input {
    margin: auto;
    margin-top: 15px;
}
.form-group textarea {
    resize: none;
    margin: auto;
    margin-top: 15px;
    height: 100px;
    width: 327px;
    border: 1px solid #4DB198;
    color: #4DB198;
    font-size: 18px;
}

